

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>
<% if @category.posts %>
  <strong>Posts</strong>
  <ul>
  <% @category.posts.each do |post| %>
  
  <div class="Title"
    <li><%= post.title %> </li>
  </div>
    <div class="postBody">
      <li><%=post.body %></li>
    </div>
  <% end %>
  </ul>
<% end %>

<%= link_to 'New Post', new_category_post_path(@category) %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %> 


